


@if (!String.IsNullOrEmpty(field.Description)) {
    <MatSelectItem Items="@field.Data" Disabled="@field.ReadOnly" Outlined="true" Style="min-width: 90%"></MatSelectItem>
    <MatTooltip Tooltip="@field.Description">
        <div @ref="context.Current" style="display:inline-block;">
            <MatIcon Style="font-size:2.2em;vertical-align:middle;">help_outline</MatIcon>
        </div>
    </MatTooltip>
} else {
    <MatSelectItem Items="@field.Data" Disabled="@field.ReadOnly" Outlined="true" Style="min-width: 100%"></MatSelectItem>
}
@if (!String.IsNullOrEmpty(field.Label)) {
    <span>@field.Label</span><br>
}

@code {
    [CascadingParameter]
    Form form { get; set; }
    [CascadingParameter]
    FieldGroup group { get; set; }
    [CascadingParameter]
    DropdownField field { get; set; }
}