

@if (!String.IsNullOrEmpty(field.Label)) {
    <span>@field.Label</span><br>
}
<MatRadioGroup @bind-Value="@field.Data" TValue="int" Outlined="true" Style="min-width: 100%">
    @for (int i = 0; i < field.Options.Count; ++i) {
        int index = i;        
        @if (field.Vertical) {
            <div>
                <MatRadioButton Disabled="@field.ReadOnly" Value="index" TValue="int">@field.Options[index]</MatRadioButton>
            </div>
        } else {
            <MatRadioButton Disabled="@field.ReadOnly" Value="index" TValue="int">@field.Options[index]</MatRadioButton>
        }
    }
</MatRadioGroup>
@if (!String.IsNullOrEmpty(field.Description)) {
    <MatTooltip Tooltip="@field.Description">
        <div @ref="context.Current" style="display:inline-block;">
            <MatIcon Style="font-size:2.2em;vertical-align:middle;">help_outline</MatIcon>
        </div>
    </MatTooltip>
}

@code {
    [CascadingParameter]
    Form form { get; set; }
    [CascadingParameter]
    FieldGroup group { get; set; }
    [CascadingParameter]
    EnumField field { get; set; }
}